<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="SupermarketDbContext"
             connectionString="Server=DESKTOP-I8RR7UP;Database=SupermarketDB;Trusted_Connection=True;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>